html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.table-container {
    overflow-y: auto;
    max-height: 350px;
    margin-block: 0.5rem;
    position: relative;
}

.table-container table {
    width: 100%;
    height: 100px;
}

.table-container table tr {
    transition: all 1s ease;
    text-align: center;
}

.table-container table th {
    padding: 0.5rem;
    position: sticky;
    top: 0;
    color: white;
}

.table-container table td {
    background-color: #ffffff5b;
    text-align: center;
    padding: 0.5rem;
    border-left: 1px solid #cacaca;
}

.table-container table tr {
    border: 1px solid #cacaca;
}

.table-container table td a i {
    cursor: pointer;
    font-size: 120%;
}

    .table-container table td .bi-pencil-fill:hover {
        color: blue;
    }

    .table-container table td .bi-trash3-fill:hover {
        color: #be0000;
    }

.table-container table td:last-child a:not(:last-of-type) {
    margin-right: 1rem;
}


button {
    background-color: #004e7e;
}